
@model ExamPortal.Model.Features.AcitvityCapture.RecordEvent.GetDifficultStripResponse

@{
    Layout = null;
    var Url = Request.Url.ToString();


}

<!DOCTYPE html>

<html>
<head>
    @*
        <meta name="viewport" content="width=device-width" />*@
    <title>Report</title>
    @*
        <link rel="stylesheet" type="text/css" href="@Url.Content(" ~ /content/loadpermit/style.css")">*@
    <style>
        @@font-face {
            font-family: 'pilatwide-heavy';
            src: url('../../content/DPWFont/pilatwide-heavy.ttf') format('truetype');
            /*  src: url('https://fileserver.dpworld.sa/UploadedFiles/ExamPortalOPS/20240104-638399596066843779-7907-PilatWide-Heavy.ttf') format('truetype');*/
        }

        @@font-face {
            font-family: 'pilatwide-light';
            src: url('../../content/DPWFont/pilatwide-light.ttf') format('truetype');
            /*  src: url('https://fileserver.dpworld.sa/UploadedFiles/ExamPortalOPS/20240104-638399597363677944-8584-PilatWide-Light.ttf') format('truetype');*/
        }

        @@font-face {
            font-family: 'makdessi-extrabold';
            src: url('../../content/DPWFont/makdessi-extrabold.ttf') format('truetype');
            /*  src: url('https://fileserver.dpworld.sa/UploadedFiles/ExamPortalOPS/20240104-638399597858980929-6556-Makdessi-ExtraBold.ttf') format('truetype');*/
        }

        @@font-face {
            font-family: 'makdessi-light';
            src: url('../../content/DPWFont/makdessi-light.ttf') format('truetype');
            /* src: url('https://fileserver.dpworld.sa/UploadedFiles/ExamPortalOPS/20240104-638399598383801112-3239-Makdessi-Light.ttf') format('truetype');*/
        }

        @@font-face {
            font-family: 'makdessi-regular';
            src: url('../../content/DPWFont/makdessi-regular.ttf') format('truetype');
            /* src: url('https://fileserver.dpworld.sa/UploadedFiles/ExamPortalOPS/20240104-638399598756058507-6417-Makdessi-Regular.ttf') format('truetype');*/
        }

        @@font-face {
            font-family: 'makdessi-hairline';
            src: url('../../content/DPWFont/makdessi-hairline.ttf') format('truetype');
            /*src: url('https://fileserver.dpworld.sa/UploadedFiles/ExamPortalOPS/20240104-638399599117832710-1622-Makdessi-Hairline.ttf') format('truetype');*/
        }

        .makdessi-light {
            font-family: makdessi-extrabold;
        }

        .makdessi-hairline {
            font-family: makdessi-hairline;
        }

        .makdessiextrabold {
            font-family: makdessi-extrabold !important;
        }

        .PilateWideLight {
            font-family: pilatwide-light;
        }

        .PilateWideHeavy {
            font-family: pilatwide-heavy;
        }

        .fs16 {
            font-size: 16pt;
        }

        .fs8 {
            font-size: 8pt;
        }

        .fs9 {
            font-size: 9pt;
        }

        .fs10 {
            font-size: 10pt;
        }

        .fs26 {
            font-size: 26pt;
        }

        .fs11 {
            font-size: 11pt;
        }

        th {
            font-family: pilatwide-heavy;
            color: black;
            font-size: 9pt;
            white-space: nowrap;
        }

        td {
            font-size: 10pt;
        }


        h1, h2, h3, h4, h5, h6 {
            font-family: pilatwide-heavy;
            color: black;
        }

            h1 u, h2 u, h3 u, h4 u, h5 u, h6 u {
                font-family: pilatwide-heavy;
                color: black;
            }

        .text-center {
            text-align: center !important
        }


        table {
            padding: 10px !important;
            margin-bottom: 20px;
            border-collapse: collapse
        }

        .text-right {
            text-align: right !important
        }

        .text-left {
            text-align: left !important
        }

        th, td {
            padding: 20px 10px
        }

        body {
            font-family: system-ui;
        }

        .border-1 {
            border: 1px solid gray;
        }

        .border1 {
            border: 1px solid black;
        }

        .border-0 {
            border: 0px !important
        }

        @@page {
            margin: 0;
        }

        body {
            margin: 0px;
        }

        .buttonprint {
            background: #777777;
            border: none;
            padding: 6px;
            border-radius: 4px;
            color: white;
        }

        .buttonDownalod {
            background: #2f2da8;
            border: none;
            padding: 6px;
            border-radius: 4px;
            color: white;
        }

        td {
            font-family: pilatwide-light;
        }

        .headerimg {
            width: 100%;
        }
    </style>

    @if (!Url.Contains("Download"))
    {
        <style>
            #body {
                width: 50%;
                margin: auto;
            }

            @@media print {
                #body {
                    width: 100% !important;
                    margin: 0px !important;
                }
            }
        </style>
    }
</head>
<body id="body">
    @{ int Sr = 0; }




    @if (Model != null)
    {

        <!--Arabic Report-->
        <section>

            <img class="headerimg" style="margin-bottom: -40px;" src="https://fileserver.dpworld.sa/UploadedFiles/ExamPortalOPS/20231227-638392547126573695-8068-dpwroldHeader.png">

            <div class="container" style="margin: 45px; width: fit-content;">
                <h1 style="text-align: center; margin-top: -15px; margin-bottom: 0px;"><u class="fs26 makdessiextrabold">   محضر صعوبة تفريغ</u></h1>
                <table style="width: 100%;margin-top: -10px;">
                    <tbody>
                        <tr>
                            <th colspan="6" style="border: hidden;text-align:left;width:50%">
                                <div class="makdessi-light fs11">
                                    <span class="PilateWideLight fs11"><u>@DateTime.Now</u> </span>  التاريخ:
                                </div>
                            </th>
                            <th colspan="6" style="border: hidden; text-align: right; width: 50%">
                                <div class="makdessi-light fs11">
                                    تفاصيل الحاوية
                                </div>

                            </th>

                        </tr>
                    </tbody>
                </table>
                <table width="100%" class="border1" style="margin-top: -35px;">

                    <tbody>

                        <tr class="text-right border1">
                            <td class="border1  fs10" width="30%">
                                <span>@Model.BL</span>
                            </td>
                            <th class="border1 makdessi-light fs11" width="20%">رقم البوليصة</th>
                            <td class="border1  fs10" width="30%"> @Model.Container</td>
                            <th class="border1 makdessi-light fs11" width="20%">
                                رقم الحاوية
                            </th>

                        </tr>

                        <tr class="text-right b order1">
                            <td class="border1  fs10">
                                @if (Model.DisChargeDate.HasValue && Model.DisChargeDate.Value.Year != 1900)
                                {<span>@Model.DisChargeDate.Value.ToString("dd-MM-yyyy HH:mm:ss")</span>}
                            else
                            { <span>N/A</span>}
                            </td>
                            <th class="border1 makdessi-light fs11">
                                تاريخ التفريغ
                            </th>
                            <td class=" fs10">@Model.Bayan</td>
                            <th class="border1 makdessi-light fs11">
                                رقم البيان
                            </th>
                        </tr>
                        <tr class="text-right border1">
                            <td class="border1  fs10"> @Model.ShippingLine</td>
                            <th class="border1 makdessi-light fs11">
                                الوكيل الملاحي
                            </th>
                            <td class="border1  fs10">
                                @Model.Vessel
                            </td>
                            <th class="border1 makdessi-light fs11">
                                اسم السفينة
                            </th>

                        </tr>

                        <tr class="text-right border1">
                            <td class="border1  fs10" colspan="3">  @Model.Consignee</td>
                            <th class="border1 makdessi-light fs11">صاحب البضاعة</th>

                        </tr>

                    </tbody>
                </table>

                <table style="width: 100%;border: 1px solid;">
                    <tbody>
                        <tr class="text-right">
                            <td colspan="6" rowspan="2" style="width:40rem;">
                                <b class="makdessi-light fs11">صور الحاوية : </b>
                                <div>
                                    <div>
                                        <ul style=" margin: 0px; padding: 0px; text-align:left">

                                            @if (Model.Images != null && Model.Images.Count > 0)
                                            {
                                                foreach (var item in Model.Images)
                                                {
                                                    <li style="list-style-type:none;padding:5px;"> <a target="_blank" style="color:black !important" href="@item.Url"> <b>@item.Label</b></a></li>
                                                }
                                            }
                                        </ul>
                                    </div>

                                </div>

                            </td>
                            <th class="makdessi-light fs11" colspan="6" style="border: 1px solid;">تفاصيل صعوبة التفريغ</th>
                        </tr>
                        <tr class="text-right">

                            <td colspan="6" style="border: 1px solid;">
                                <div>
                                    <div class=" fs11" style="color: #343434;font-family:makdessi-light ">
                                        <span>
                                            وجدت البضاعة في حالة صعوبة تفريغ، مما قد يتسبب في حدوث اضرار للبضاعة اثناء عملية التفريغ حسب طلب الجمارك
                                        </span>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <table style="width:100% ;border: 1px solid;">
                    <tr>
                        <td>
                            <center><img style=" height: 70px;" src="~/Content/images/ExcesscragoStamp.png" /></center>
                        </td>
                    </tr>
                </table>

                <h5 class="makdessi-light fs11" style=" font-weight: bolder; direction: ltr; text-align: right; text-decoration: underline; margin-bottom: 15px; margin-top: 40px;">اخلاء المسؤولية عن المحضر</h5>
                <p class="fs11" style=" direction: ltr;font-family:makdessi-light; margin-top: 7px; text-align: right; color: #343434 ">تتم مشاركة هذا التقرير بناءً على طلب العميل ولا يعني مسؤولية دي بي ورلد جدة، بما في ذلك على سبيل المثال لا الحصر عن أي تكاليف والتزامات وعواقب أخرى ذات صلة يتكبدها مالك الشحنة نتيجة لذلك الضرر، تتم جميع الأعمال وفقًا للشروط والأحكام (قد يتم تعديلها من وقت لآخر) المنشورة على موقعنا الإلكتروني والتي يمكن الوصول إليها على   <br /><a style=" cursor: pointer; font-family: 'pilatwide-light'; /* text-decoration: inherit; */ font-style: italic; color: #004fdc !important " href="https://dpworld.sa/pages/terms">https://dpworld.sa/pages/terms</a></p>

                <p style=" font-size: 9pt; font-family: makdessi-light; text-align:right"><a style="color: #004fdc !important " href="mailto:dpwjed.customerservice@dpworld.com">dpwjed.customerservice@dpworld.com</a> للمزيد من المعلومات الرجاء التواصل معنا على الايميل  </p>

            </div>
        </section>


        <!--English Report-->
        <section style="page-break-before: always;">

            <img class="headerimg" style="margin-bottom: -40px;" src="https://fileserver.dpworld.sa/UploadedFiles/ExamPortalOPS/20231227-638392547126573695-8068-dpwroldHeader.png">

            <div class="container" style="margin: 45px; width: fit-content;">
                <h1 class="fs16" style="text-align: center; margin-top: -15px; margin-bottom: 0px;"><u>DIFFICULT TO STRIP </u></h1>
                <table style="width: 100%;margin-top: -10px;">
                    <tbody>
                        <tr>
                            <th colspan="6" style="border: hidden; text-align: left">
                                <div>
                                    CONTAINER DETAILS
                                </div>

                            </th>
                            <th colspan="6" style="border: hidden;text-align:right">
                                <div>
                                    Date:<span class="PilateWideLight"><u>@DateTime.Now</u></span>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" class="border1" style="margin-top: -35px;">

                    <tbody>

                        <tr class="text-left border1">
                            <th class="border1" width="20%">CONTAINER #</th>
                            <td class="border1" width="30%"> @Model.Container</td>
                            <th class="border1" width="20%">
                                BL #
                            </th>
                            <td class="border1" width="30%">
                                <span>@Model.BL</span>
                            </td>
                        </tr>

                        <tr class="text-left border1">
                            <th class="border1">
                                BAYAN #
                            </th>
                            <td>@Model.Bayan</td>
                            <th class="border1">
                                DISCHARGE DATE
                            </th>
                            <td class="border1">
                                @if (Model.DisChargeDate.HasValue && Model.DisChargeDate.Value.Year != 1900)
                                {
                                    <span>@Model.DisChargeDate.Value.ToString("dd-MM-yyyy HH:mm:ss")</span>
                                }
                                else
                                { <span>N/A</span>}
                            </td>
                            @*
                                <th class="border1">
                                    INSPECTION DATE
                                </th>
                                <td class="border1">
                                    @if (Model.SingleCntr.InspDate.HasValue && Model.SingleCntr.InspDate.Value.Year != 1900)
                                    {<span>@Model.SingleCntr.InspDate.Value.ToString("dd-MM-yyyy HH:mm:ss")</span>}
                                </td>*@
                        </tr>

                        <tr class="text-left border1">
                            <th class="border1">
                                SHIPPING LINE
                            </th>
                            <td class="border1"> @Model.ShippingLine </td>
                            <th class="border1">
                                VESSEL NAME
                            </th>
                            <td class="border1">
                                @Model.Vessel
                            </td>
                        </tr>

                        <tr class="text-left border1">
                            <th class="border1">CONSIGNEE</th>
                            <td class="border1" colspan="3">  @Model.Consignee </td>
                        </tr>

                    </tbody>
                </table>

                <table style="width: 100%;border: 1px solid;">
                    <tbody>
                        <tr>
                            <th colspan="6" style="border: 1px solid; text-align:left">BAD STAWAGE DETAILS</th>
                            <th colspan="6" style="text-align: center;border: 1px solid;">CONTAINER PHOTOS </th>
                        </tr>
                        <tr>
                            <td colspan="6" style="border: 1px solid;">
                                <div>
                                    <div style="text-align: left;width: 22rem;">
                                        <span>
                                            While opening the container door cargo found in difficult to strip status which may cause cargo damage during the unloading process as requested by customs.
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td colspan="6" style="width:40rem;">
                                <div>
                                    <div>
                                        <ul style=" margin: 0px; padding: 0px;">

                                            @if (Model.Images != null && Model.Images.Count > 0)
                                            {
                                                foreach (var item in Model.Images)
                                                {
                                                    <li style="list-style-type:none;padding:5px;"> <a target="_blank" style="color:black !important" href="@item.Url"> <b>@item.Label</b></a></li>
                                                }
                                            }
                                        </ul>
                                    </div>

                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <table style="width:100% ;border: 1px solid;">
                    <tr>
                        <td>
                            <center><img style=" height: 70px;" src="~/Content/images/ExcesscragoStamp.png" /></center>
                        </td>
                    </tr>
                </table>

                <h5 style=" font-weight: bolder; direction: ltr; margin-bottom: 0px; margin-top: 40px;">DISCLAIMER</h5>
                <p class="fs8" style="direction: ltr; margin-top: 7px; font-family: 'pilatwide-light'">
                    This report is shared upon customer request and shall not be construed as an acceptance of liability by DP World Jeddah including but not limited to any other related costs, liabilities, and consequences whatsoever incurred by the cargo owner(s) as a result of the said damage.  All business is conducted subject to our Standard Terms & Conditions (as may be amended from time to time) published on our website which is accessible at
                    <br />
                    <a href="https://dpworld.sa/pages/terms.">https://dpworld.sa/pages/terms.</a>
                </p>

                <p style=" font-size: 8pt; font-family: 'pilatwide-light'; ">Please contact us at <a target="_blank" style=" color: #004fdc !important;" href="mailto:dpwjed.customerservice@dpworld.com">dpwjed.customerservice@dpworld.com</a>  for any further enquiries.</p>
            </div>
        </section>
        if (!Url.Contains("Download"))
        {
            <div id="buttondiv" style="width: auto; text-align: end; padding: 12px 58px;">
                <button class="buttonDownalod" onclick="DownloadPage()"> Downalod  </button>
                <button class="buttonprint" onclick="PrintPage()"> Print </button>
            </div>
        }
    }

</body>
</html>
<script>
       function DownloadPage() {
       document.getElementById('buttondiv').style.display = 'none';
           window.open('/ActivityCapture/DifficulttostripPrintDownload?Id=@DE.Infrastructure.Security.Encryption.Encrypt(Model.Id.ToString())', '_blank');
       document.getElementById('buttondiv').style.display = 'block';
   }
  function PrintPage() {
       document.getElementById('buttondiv').style.display = 'none';
       window.print();
       document.getElementById('buttondiv').style.display = 'block';
   }
</script>
