@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/popup/jquery-confirm.min.css" rel="stylesheet" />
<link href="~/Content/ZoomInOut/ZoomInOut.css" rel="stylesheet" />
<link href="~/Content/css/FileUploadToastCSS.css" rel="stylesheet" />
<link href="~/Content/css/ExamCSS.css" rel="stylesheet" />
<!--Header-->
<div ng-controller="RecordEventCtrl" ng-init="init()" class="ng-cloak RecordEvent" ng-cloak>
    <!---Block-->
    <div class="card mt-2 mt-2" id="Block">
        <div class="card-header" style=" background: var( --dpw-bg-color); color: white; padding: 8px;">
            <div class="d-inline-block">
                <h5 class="mt-2">Select Block</h5>
            </div>
            <div class="pull-right modern-datetime-container" ng-show="_currentUser.UsersApplication.includes('Labour_Assignment')">
                <div class="bayan-radio-group mr-2">
                    <input type="radio" id="all" name="bayan-option" value="ALL">
                    <label for="all" ng-click="FilterApplicationBlock('ALL')">ALL</label>
                    <input type="radio" id="LA" name="bayan-option" value="Labor assignment">
                    <label for="LA" ng-click="FilterApplicationBlock('LA')">Labor assignment</label>
                </div>

                <span class="date-style">@DateTime.Now.ToString("dd/MM/yyyy")</span>
                <span class="separator">|</span>
                <span class="time-style" id="time-display-hm">09:49:</span>
                <div class="seconds-flipper">
                    <span class="seconds-digit" id="s1">2</span>
                    <span class="seconds-digit" id="s2">1</span>
                </div>
            </div>

        </div>
        <div class=" card-body shadow">
            <div class="row">
                <div class="Cardtabs" ng-repeat="B in BlocList">
                    <div class="Absoulte">
                        @*<div class="CountBadge greenCountTabs">{{B.Cntr}}</div>*@
                        <div class="CountBadge greenCountTabs">{{B.AuctionCntrCount>0?B.Cntr-B.AuctionCntrCount:B.Cntr}}</div>
                        <div title="Auction Container Count" ng-if="B.AuctionCntrCount>0" class="AuctionCountBadge">{{B.AuctionCntrCount}}</div>
                        <br />
                    </div>
                    <button ng-click="GetContainerList(B)" ng-class="{'active' : B.BlockNumber == CurrentBlock.BlockNumber }" class="btn btn-primary Blocks" value="{{B.BlockNumber}}">
                        {{B.BlockNumber}}
                    </button>
                    <div class="mt-1" ng-if="B.BlockNumber != 'PR'">
                        <button ng-click="GetContainerListByStatus(B,B.RejectedGkeys,'Rejected')" id="SEALOCSTSREJbtn{{$index}}"
                                class="btn btn-sm btn-danger LOCSTSStatusbutton">
                            {{B.RejectedGkeys.length}}
                        </button>
                        <button ng-click="GetContainerListByStatus(B,B.AcceptedGkeys,'Accepted')" id="SEALOCSTSACPbtn{{$index}}"
                                class="btn btn-sm btn-success LOCSTSStatusbutton">
                            {{B.AcceptedGkeys.length}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---Block-->
    <!---Container-->

    <div class="row" style="padding: 14px 0px; " ng-show="CurrentBlock.BlockNumber!=null &&CurrentBlock.BlockNumber!=''">


        <div class="col-md-12 text-end searchBox">

            <input placeholder="Search Bayan.." type="text" ng-model="Fbayan" ng-keyup="Filtertext(Fbayan,'BayanNo')" />
            <i class="icon-search4"></i>
            <input placeholder="Search Container.." type="text" ng-model="FCntr" ng-keyup="Filtertext(FCntr,'Cntr')" />
            <i class="icon-search4"></i>
            <div class="dropdown pull-right" ng-show="ContainerList !=null && ContainerList != undefined && ContainerList.length >0">
                <button class="sortby NumberDsc" type="button" id="sortID" data-toggle="dropdown">
                    <span style=" margin-right: 10px;">Sort by : {{sortby}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="sortID">
                    <a class="dropdown-item AlphaAsc" ng-click="SortContainerList($event,'Container')">Container</a>
                    <a class="dropdown-item NumberAsc" ng-click="SortContainerList($event,'Location')">Location</a>
                    <a class="dropdown-item NumberAsc" ng-click="SortContainerList($event,'Elapsed hrs')">Elapsed hrs</a>
                    <a class="dropdown-item NumberAsc" ng-click="SortContainerList($event,'Overall hrs')">Overall hrs</a>
                </div>
            </div>
            <div class="dropdown pull-right " ng-show="ContainerList !=null && ContainerList != undefined && ContainerList.length >0" style="margin-right: 12px;">
                <button class="sortby" type="button" id="sortID" data-toggle="dropdown">
                    <span style=" margin-right: 10px;">Stage: {{StageDisplayValue||'All'}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="sortID">
                    <a class="dropdown-item" ng-click="FilterStage('')">All</a>
                    <a class="dropdown-item" ng-click="FilterStage('Waiting Time SealCut','Waiting Time SealCut')">Waiting Time SealCut</a>
                    <a class="dropdown-item" ng-click="FilterStage('EXAM_SEALCUT','Waiting Time Start Strip')">Waiting Time Start Strip</a>
                    <a class="dropdown-item" ng-click="FilterStage('stripstart','Cargo Strip In Progress')">Cargo Strip In Progress</a>
                    <a class="dropdown-item" ng-click="FilterStage('EXAM_CARGOSTRIP','Waiting Time Custom Inspection')">Waiting Time Custom Inspection</a>
                    <a class="dropdown-item" ng-click="FilterStage('UNIT_CUSTOMS_CLEARED','Waiting Time Start Repack')">Waiting Time Start Repack</a>
                    <a class="dropdown-item" ng-click="FilterStage('repackstart','Cargo Repack In Progress')">Cargo Repack In Progress</a>
                    <a class="dropdown-item" ng-click="FilterStage('EXAM_CARGOSTUFFED','Waiting to Apply Seal')">Waiting to Apply Seal</a>
                </div>
            </div>
            <div class="dropdown pull-right " ng-show="ContainerList !=null && ContainerList != undefined && ContainerList.length >0" style="margin-right: 12px;">
                <button class="sortby" type="button" id="sortID" data-toggle="dropdown">
                    <span style=" margin-right: 10px;">Risktype: {{search.RiskType ||'All'}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="sortID">
                    <a class="dropdown-item" ng-click="FilterRiskType('')">All</a>
                    <a class="dropdown-item" ng-click="FilterRiskType('High')">High</a>
                    <a class="dropdown-item" ng-click="FilterRiskType('Low')">Low</a>
                </div>
            </div>

            <div class="radio-group-container" ng-show="CurrentBlockFilter != 'LA'">
                <div class="custom-radio-button">
                    <input type="radio"
                           id="option-all"
                           name="search-options"
                           value="all"
                           ng-model="Auction_selectedOption"
                           ng-change="Auction_optionChanged()"
                           checked>
                    <label for="option-all">All</label>
                </div>

                <div class="custom-radio-button">
                    <input type="radio"
                           id="option-auction-cntr"
                           name="search-options"
                           value="auction-cntr"
                           ng-model="Auction_selectedOption"
                           ng-change="Auction_optionChanged()">
                    <label for="option-auction-cntr">Auction</label>
                </div>
            </div>

        </div>
    </div>
    <div class="accordion scrollerdiv" id="accordionExample" ng-show="!stringNullorEmpty(ContainerList)">
        <div class="card Custom-Card m-0" ng-repeat="x in ContainerList | filter :search" style="overflow:visible">
            <!-- Nominated control requested by Anass on 2nd APR 2026 over email, added by Anees -->
            <!-- Overlay message when container is not nominated for examination -->
            <!---Container Header-->
            <div class="" id="heading{{$index}}">
                <div class="collapsible-link">
                    <div class="ActiveHoldParent reexamIndicator" ng-show="x.Reexam==1" title="Reexam container">
                        <div class="ActiveHold">
                            <span><img style="height:20px;filter:invert(1)" src="~/Content/images/ReopenContainer.png" /></span>
                        </div>
                    </div>
                    <div class="ActiveHoldParent" ng-show="!stringNullorEmpty(x.RiskType)">
                        <div class="ActiveRiskType">
                            <img style="height:30px;" src="~/Content/images/p1.png" ng-if="x.RiskType=='High'" />
                            <img style="height:30px;" src="~/Content/images/p2.png" ng-if="x.RiskType=='Medium'" />
                            <img style="height:30px;" src="~/Content/images/p3.png" ng-if="x.RiskType=='Low'" />
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="col-md-5 col-lg-6 col-sm-6 col-xs-12" data-toggle="collapse" id="OpenDetails{{$index}}" data-target="#collapse{{$index}}" ng-click="GetContainerEvent($index,x.Cntr,x.ScanStatus,x.freight_kind)">-->
                        @*v5.9*@
                        <!--<div style="display: inline-block; vertical-align: middle; margin-bottom: 4px;" ng-if="x.freight_kind!='LCL'">
                            <img style="height:50px;" src="~/Content/images/container3.png" ng-if="GetRecordEventImage(x,'red') == true" />
                            <img style="height:50px;" src="~/Content/images/container.png" ng-if="GetRecordEventImage(x,'blue') == true" />
                            <img style="height:50px;" src="~/Content/images/container2.png" ng-if="GetRecordEventImage(x,'green') == true" />
                        </div>
                        <div style="display: inline-block; vertical-align: middle; margin-bottom: 4px;" ng-if="x.freight_kind=='LCL'">
                            <img style="height:50px;" src="~/Content/images/LCLContainer.png" ng-if="GetRecordEventImage(x,'blue') == true" />
                            <img style="height:50px;" src="~/Content/images/LCLGreen.png" ng-if="GetRecordEventImage(x,'green') == true" />
                            <img style="height:50px;" src="~/Content/images/LCLRed.png" ng-if="GetRecordEventImage(x,'red') == true" />
                        </div>

                        <div style="display: inline-block; vertical-align: middle; margin-bottom: 4px; margin-left: 12px; font-family: 'Pilat Wide';">
                            {{x.Cntr}} <span ng-show="x.BayanNo!='' && x.BayanNo!=null" style="font-size: 11px; color: #898989;"> - {{x.BayanNo}}</span>
                            <div ng-if="!x.stripStatus" title="Not ready to move" class="statusred"></div>
                            <div ng-if="x.stripStatus" title="Ready to move" class="statusgreen"></div>
                            <div ng-if="x.IsPartailRejected == true" title="Cargo repack is partially rejected" class="partialRejectIndicator">PR</div>-->
                        @*<div ng-if="x.IsPartailRejected==true" class="d-inline-block pulse2" title="Cargo repack is partially rejected">
                                <span style="color: orange;font-size:16px;"><i class="ri-hexagon-fill"></i></span>

                            </div>*@

                        <!--<div ng-show="x.Position!='' && x.Position!=null" style="font-size: 11px; color: #898989;">{{x.Position}} </div>
                                <div class="position-absolute" style="top: 0px;width: 0px; white-space: nowrap;" ng-show="x.InspectionStatus!=null && x.InspectionStatus!=''">
                                    <div class="position-relative" style="bottom:30px;">
                                        <div class="InspectionStatussection" ng-class="{'InspectionStatusSuccessDetails' : x.InspectionAcceptStatus=='ACP','InspectionStatusErrorDetails' : x.InspectionAcceptStatus=='REJ'}">
                                            OPR:{{x.operationCode}} <span ng-if="x.SubCode != null">| SubCode:{{x.SubCode}}</span> | {{x.InspectionStatus}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="high-risk-center-overlay" ng-if="x.HighRiskHold == true">
                            <div class="risk-reason-badge">
                                <i class="icon-warning22 mr-2"></i> {{x.Sealcut_HighRiskReason}}
                            </div>

                        </div>

                        <div class="col-md-5 col-lg-6 col-sm-6 col-xs-12" data-toggle="collapse" id="OpenDetails{{$index}}" data-target="#collapse{{$index}}" ng-click="GetContainerEvent($index,x.Cntr,x.ScanStatus,x.freight_kind,x.Nominated,x.Nominated_Allowed)">

                            <div class="hold-container-wrapper">

                                <div class="hold-center-label" ng-if="x.HighRiskHold == true">HOLD</div>

                                <div style="display: inline-block; vertical-align: middle;" ng-if="x.freight_kind!='LCL'" ng-class="{'hold-image-faded': x.HighRiskHold == true}">
                                    <img style="height:50px;" src="~/Content/images/container3.png" ng-if="GetRecordEventImage(x,'red') == true" />
                                    <img style="height:50px;" src="~/Content/images/container.png" ng-if="GetRecordEventImage(x,'blue') == true" />
                                    <img style="height:50px;" src="~/Content/images/container2.png" ng-if="GetRecordEventImage(x,'green') == true" />
                                </div>

                                <div style="display: inline-block; vertical-align: middle;" ng-if="x.freight_kind=='LCL'" ng-class="{'hold-image-faded': x.HighRiskHold == true}">
                                    <img style="height:50px;" src="~/Content/images/LCLContainer.png" ng-if="GetRecordEventImage(x,'blue') == true" />
                                    <img style="height:50px;" src="~/Content/images/LCLGreen.png" ng-if="GetRecordEventImage(x,'green') == true" />
                                    <img style="height:50px;" src="~/Content/images/LCLRed.png" ng-if="GetRecordEventImage(x,'red') == true" />
                                </div>
                            </div>
                            <div style="display: inline-block; vertical-align: middle; margin-bottom: 4px; margin-left: 12px; font-family: 'Pilat Wide';">
                                {{x.Cntr}} <span ng-show="x.BayanNo!='' && x.BayanNo!=null" style="font-size: 11px; color: #898989;"> - {{x.BayanNo}}</span>
                                <div ng-if="!x.stripStatus" title="Not ready to move" class="statusred"></div>
                                <div ng-if="x.stripStatus" title="Ready to move" class="statusgreen"></div>
                                <div ng-if="x.IsPartailRejected == true" title="Cargo repack is partially rejected" class="partialRejectIndicator">PR</div>

                                <div ng-show="x.Position!='' && x.Position!=null" style="font-size: 11px; color: #898989;">{{x.Position}} </div>
                                <div class="position-absolute" style="top: 0px;width: 0px; white-space: nowrap;" >
                                    <div class="position-relative topStatus" style="bottom:30px;">
                                        <ul>
                                            <li ng-show="x.InspectionStatus!=null && x.InspectionStatus!=''">
                                                <div class="InspectionStatussection" ng-class="{'InspectionStatusSuccessDetails' : x.InspectionAcceptStatus=='ACP','InspectionStatusErrorDetails' : x.InspectionAcceptStatus=='REJ'}">
                                                    OPR:{{x.operationCode}} <span ng-if="x.SubCode != null">| SubCode:{{x.SubCode}}</span> | {{x.InspectionStatus}}
                                                </div>
                                            </li>
                                            <li ng-show="!x.Nominated">
                                                <div class="InspectionStatussection NominatedBadge" ng-class="{'InspectionStatusSuccessDetails' : x.Nominated_Allowed,'InspectionStatusErrorDetails' : !x.Nominated_Allowed}">
                                                    Not Nominated
                                                    <div class="nominated-overlay-container">
                                                        <div class="nominated-message-box">

                                                            <div class="nominated-message-text">
                                                                #{{x.Cntr}} is not nominated for examination
                                                            </div>
                                                            <div class="nominated-details">
                                                                <div class="detail-item">
                                                                    <span class="detail-label">X-ray Status:<span class="detail-value">{{x.XrayStatus||'Not received'}}</span></span><span><b> | </b></span>
                                                                    <span class="detail-label">Inspection requested:<span class="detail-value">{{x.InspectionType||'N/A'}}</span></span>
                                                                </div>
                                                                @if (User.IsInRole(ExamPortal.Model.EntityModel.Enums.UserRole.Admin.ToString()) || User.IsInRole(ExamPortal.Model.EntityModel.Enums.UserRole.SeniorSuperVisor.ToString()))
                                                                {
                                                                    <div class="detail-item" ng-show="!x.Nominated_Allowed">
                                                                        @*Salman 14-04-2026 Allow Proceed the nonNominated Container*@
                                                                        <span class="detail-label"><button class="btn btn-primary btn-sm" ng-click="ProceedNONnominated(x)">Proceed</button></span>

                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 col-sm-5 col-xs-12 mt-xs-2 DamageButton" style="align-self:center;line-height:2.4;">


                       
                            <div class="UIHrsSection">
                                <p ng-show="x.ElapsedHr!=null && x.ElapsedHr!=''"><b>Elapsed Hrs : </b> {{x.ElapsedHr}} </p>
                                <p ng-show="x.OverAllHr!=null && x.OverAllHr!=''"><b>OverAll Hrs : </b> {{x.OverAllHr}} </p>

                            </div>
                            <div class="EXAMcard" ng-show="x.IsRexamContainer!=true  && CurrentBlock.BlockNumber != 'OOG' && RejectedFilter==false">
                                <button class="btn btn-danger HoldButton" ng-show="x.IsActiveHold == true">
                                    <span><i class="icon-warning"></i></span>
                                    <div class="ActiveHoldParent HoldTooltip">
                                        <div class="Event-Tooltip">
                                            <div class="Event-tooltip-content">
                                                <ul>
                                                    <li ng-repeat="holddetail in x.HoldList">
                                                        <b>{{holddetail}}</b>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </button>
                                <button class="btn btn-primary" ng-click="ContainerActionOpen('Damage',x.IsDamage==5 || x.IsDamage==1,x,x.gkey)"
                                        ng-class="{'approvalrequierd' : x.IsDamage==5 ,'approved' : x.IsDamage==1,'Rejected':x.IsDamage==3 }"
                                        ng-show="x.TankCntr == 0 && (x.Nominated || x.Nominated_Allowed)">
                                    Cargo Report
                                </button>
                                @*<button class="btn btn-primary" ng-click="ContainerActionOpen('RiskType',false,x,x.gkey)"*@
                                <button class="btn btn-primary" ng-click="ContainerActionOpen('RiskType',x.RiskReportStatus==1 || x.RiskReportStatus==2,x,x.gkey)"
                                        ng-class="{'approvalrequierd' : x.RiskReportStatus==1 ,'approved' : x.RiskReportStatus==2,'Rejected':x.RiskReportStatus==3 }"
                                        ng-show="x.TankCntr == 0 && x.RiskType != null && (x.Nominated || x.Nominated_Allowed)">
                                    High Risk
                                </button>
                                <button class="btn btn-primary" ng-click="ContainerActionOpen('IncidentReport',x.IncidentReport==5 || x.IncidentReport==1,x,x.gkey)"
                                        ng-class="{'approvalrequierd' : x.IncidentReport==5 ,'approved' : x.IncidentReport==1,'Rejected':x.IncidentReport==2 }"
                                        ng-show="x.TankCntr == 0 && (x.Nominated || x.Nominated_Allowed)">
                                    Incident Report
                                </button>
                                <div class="parentdiv d-inline-block" ng-if=" x.TankCntr == 0 && (x.Nominated || x.Nominated_Allowed)">
                                    <button class="btn btn-primary">Handling Reports</button>
                                    <div class="EXAM-Tooltip">

                                        <div class="EXAM-tooltip-content">
                                            <ul>
                                                <li ng-show="x.TankCntr == 0">
                                                    <div class="lidiv" ng-click="ContainerActionOpen('DifficultStrip',x.IsDifficultStrip==5 || x.IsDifficultStrip ===2,x.Cntr,x.gkey)">

                                                        <img class="arrowiconpng" src="~/Content/images/bottomRight.ico" />
                                                        Difficult to strip
                                                        <div ng-if="x.IsDifficultStrip!=5 && x.IsDifficultStrip!=3 && x.IsDifficultStrip!=2" title="Not submitted" class="statusdefault"></div>
                                                        <div ng-if="x.IsDifficultStrip==5" title="Pending for approval" class="statusgrey"></div>
                                                        <div ng-if="x.IsDifficultStrip==3" title="Rejected" class="statusred"></div>
                                                        <div ng-if="x.IsDifficultStrip==2" title="Approved" class="statusgreen"></div>
                                                    </div>

                                                </li>
                                                <li ng-show="x.isbadstowage==1">
                                                    <div class="lidiv" ng-click="ContainerActionOpen('BadStowage',x.IsBadStowage==5 || x.IsBadStowage==1,x.Cntr,x.gkey)">

                                                        <img class="arrowiconpng" src="~/Content/images/bottomRight.ico" />
                                                        Bad stowage
                                                        <div ng-if="x.IsBadStowage==3" title="Rejected" class="statusred"></div>
                                                        <div ng-if="x.IsBadStowage==1" title="Approved" class="statusgreen"></div>
                                                    </div>

                                                </li>
                                                @if (!User.IsInRole(ExamPortal.Model.EntityModel.Enums.UserRole.TallyClerk.ToString()))
                                                {
                                                    <li ng-show="x.TankCntr == 0">
                                                        <div class="lidiv" ng-click="ContainerActionOpen('ExcessCargo',x.IsExcessCargo==5 || x.IsExcessCargo==1,x.Cntr,x.gkey)">

                                                            <img class="arrowiconpng" src="~/Content/images/bottomRight.ico" />
                                                            Excess cargo
                                                            <div ng-if="x.IsExcessCargo!=5 && x.IsExcessCargo!=3 && x.IsExcessCargo!=1" title="Not submitted" class="statusdefault"></div>
                                                            <div ng-if="x.IsExcessCargo==5" title="Pending for approval" class="statusgrey"></div>
                                                            <div ng-if="x.IsExcessCargo==3" title="Rejected" class="statusred"></div>
                                                            <div ng-if="x.IsExcessCargo==1" title="Approved" class="statusgreen"></div>
                                                        </div>

                                                    </li>
                                                }
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <button class="btn btn-primary" ng-click="ContainerActionOpen('InspectionDelay',x.InspectionDelayRPT==5||x.InspectionDelayRPT==2||x.InspectionDelayRPT==3,x,x.gkey)"
                                        ng-class="{'approvalrequierd' : x.InspectionDelayRPT==5 ,'approved' : x.InspectionDelayRPT==2,'Rejected':x.InspectionDelayRPT==3 }"
                                        ng-show="x.TankCntr == 0 && (x.Nominated || x.Nominated_Allowed)">
                                    Inspection Delays
                                    <div class="DelayBadge" style="position:absolute" ng-if="GetOverallInspeDelayDuration(x) != ''">
                                        <div ng-class="{'approved' : x.InspectionDelayRPT==2,'Rejected':x.InspectionDelayRPT!=2 }" class="CountBadge">{{GetOverallInspeDelayDuration(x)}}</div>
                                    </div>
                                </button>

                                <button class="btn btn-primary" ng-click="ContainerActionOpen('AdditionalService',x.AdditionalServiceStatus == 0 || x.AdditionalServiceStatus == 1,x.Cntr,x.gkey)"
                                        ng-class="{'approvalrequierd' : x.AdditionalServiceStatus == 0 ,'approved' : x.AdditionalServiceStatus == 1,'Rejected':x.AdditionalServiceStatus==2 }"
                                        ng-show="x.TankCntr == 0 && x.ShowAdditionalService == true && (x.Nominated || x.Nominated_Allowed)">
                                    Additional Service
                                </button>
                                <button class="btn btn-primary" ng-click="ContainerActionOpen('RequestTechnician',x.IsRequestTechnician==1 || x.IsRequestTechnician==5,x.Cntr,x.gkey)"
                                        ng-class="{'approvalrequierd' : x.IsRequestTechnician==5,'approved' : x.IsRequestTechnician==1,'Rejected':x.IsRequestTechnician==2 }"
                                        ng-show="x.TankCntr == 0 && (x.Nominated || x.Nominated_Allowed)">
                                    Request Technicain
                                </button>

                            </div>
                        </div>
                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-12 Chervronicon" style="align-self:center;text-align:end">
                            <div class="icon-info22" ng-click="showContainerDetails(x.Cntr)" ng-show="RejectedFilter==false  && (x.Nominated || x.Nominated_Allowed)">  </div>
                            @if (User.IsInRole(ExamPortal.Model.EntityModel.Enums.UserRole.ExamSuperVisor.ToString()) || User.IsInRole(ExamPortal.Model.EntityModel.Enums.UserRole.Admin.ToString()))
                            {
                                <div class="Scan" ng-click="ScanContainer(x)" title="Request Scan" ng-show="x.ScanStatus==1 && x.IsRexamContainer!=true && RejectedFilter==false">
                                    <img style=" height: 25px; " src="~/Content/images/ScanRequest.png" />
                                </div>
                                <div ng-click="ShowScanDetails(x.ScanStatus,x.ScanRequestAt,x.ScanRequestBy)" class="Scan" title="Scan Requested" ng-show="x.ScanStatus==2 && x.IsRexamContainer!=true && RejectedFilter==false">
                                    <img style=" height: 25px; " src="~/Content/images/ScanRequested.png" />
                                </div>
                                <div ng-click="ShowScanDetails(x.ScanStatus,x.ScanRequestAt,x.ScanRequestBy)" class="Scan" title="Scan Approved" ng-show="x.ScanStatus==3 && x.IsRexamContainer!=true && RejectedFilter==false">
                                    <img style=" height: 25px; " src="~/Content/images/ScanApprove.png" />
                                </div>
                            }
                            <div class="Indicatior" id="toggler{{$index}}" ng-click="ToggleCol($index,x.Cntr,x.ScanStatus,x.freight_kind,x.Nominated,x.Nominated_Allowed)" ng-show="!ShowFilteredCntrsByStatus  && (x.Nominated || x.Nominated_Allowed)">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <input id="{{x.Cntr}}Chkk{{$index}}" type="checkbox" ng-show="ShowFilteredCntrsByStatus && (x.Nominated || x.Nominated_Allowed)" ng-click="ConfrimApplyEvent(y,$index,x.Position,x.gkey,x.ScanStatus,x,true)"
                                   class="eventCheckBox" ng-checked="CheckedLOCStatusEvent(x.gkey)" ng-disabled="CheckedLOCStatusEvent(x.gkey)" style="float:right;" name="name" value="" />
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 collapse" id="collapse{{$index}}" aria-labelledby="heading{{$index}}" data-parent="#accordionExample">
                            <div class="row">
                                <div class="col-md-4 col-sm-12 col-12 p-0" ng-repeat="y in EventList | orderBy:'SortOrder'" ng-if="CheckCargoStripByBlock(y.EventName,CurrentBlock.BlockNumber,x.freight_kind)">
                                    @*v.5.9*@
                                    <label for="{{x.Cntr}}Chk{{$index}}" class="d-block">
                                        <div ng-class="{'PendingApprovalEvent':y.ApproveStatus == 0 && !y.PartialRejected,'paritalyrejectedEventbox':y.ApproveStatus == 0 && y.PartialRejected == true,'RejectedApprovalEvent':y.ApproveStatus == 2,'Active':y.isApplied==true,'RepostEvent':RejectedFilter==true && y.isApplied==false }" class="evnetBox">
                                            <div title="{{y.DisplayName}}" class="EventNameTruncate" ng-show="y.DisplayName!=null && y.DisplayName!=''">
                                                {{y.DisplayName}}
                                                <span ng-click="uploadSealImage(y)" style="color:red;cursor:pointer" ng-show="(Lower(y.DisplayName)==Lower('Seal cut done') && y.isApplied==true) && (stringNullorEmpty(y.DoorAfterSeal) || stringNullorEmpty(y.CargoFrontView))"><i class="icon-alert"></i></span>
                                                <span ng-click="AdditionalSrvcExamInspectedAction(x)" style="color:red;cursor:pointer" ng-show="Lower(y.DisplayName)==Lower('Customs Inspection done') && y.isApplied==true && x.EXAM_INSPECTED_SERVICE == null"><i class="icon-alert"></i></span>
                                                <span ng-click="RecordRepackPhotoson50Percent(x,y)" title="Upload photo on 50% repack" style="color:red;cursor:pointer" ng-show="Lower(y.DisplayName)==Lower('Repacking Started') && y.isApplied==true && y.Repack50Done == null"><i class="icon-alert"></i></span> <!---5.8-->
                                                @*<span ng-click="uploadSealImage(y)" style="color:red;cursor:pointer" ><i class="icon-alert"></i></span>*@
                                            </div>
                                            <div title="{{y.EventName}}" class="EventNameTruncate" ng-show="y.DisplayName==null || y.DisplayName==''">
                                                {{y.EventName}}
                                                <span ng-click="uploadSealImage(y)" style="color: red; cursor: pointer" ng-show="Lower(y.EventName)==Lower('EXAM_SEALCUT') && y.isApplied==true && (stringNullorEmpty(y.DoorAfterSeal) || stringNullorEmpty(y.CargoFrontView))"><i class="icon-alert"></i></span>
                                            </div>

                                            @*<input id="{{x.Cntr}}Chk{{$index}}" type="checkbox" ng-click="ConfrimApplyEvent(y,$index,x.Position,x.gkey,x.ScanStatus)" ng-checked="y.isApplied" ng-disabled="y.isApplied" class="eventCheckBox" style="float:right;" name="name" value="" />*@

                                            <input id="{{x.Cntr}}Chk{{$index}}" type="checkbox"
                                                   ng-click="ConfrimApplyEvent(y,$index,x.Position,x.gkey,x.ScanStatus,x)"
                                                   @*ng-if="!y.isApplied"*@ ng-if="CheckEventApplied(y,x.category,x.HighRiskHold)" class="eventCheckBox"
                                                   style="float:right;" name="name" value="" />
                                        </div>
                                    </label>
                                    <span class="EventViewSection" ng-class="{'eventviewRightmrgn':CheckEventApplied(y,x.category)}">
                                        <i class="icon-eye font-size-lg pull-right mt-1 mr-2 align-middle cursor-pointer" ng-if="CheckEventToDisplay(y)"
                                           ng-click="OpenCaptureEventDetails(y,x.gkey,y.DisplayName,x.Position,x.ScanStatus)"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--Drop Down Context Menu-->
                        <!--Drop Down Context Menu-->
                    </div>
                </div>
                <!---Container Header-->
                <!---Events-->

            </div>
            <!---Events-->
            <div class="" style="margin-bottom: -30px;margin-left: -35px;">

            </div>

        </div>

        @Html.Partial("_RecordEventDetails")
        @Html.Partial("_RecordEvent_Add")
        @Html.Partial("_InspDelay")
        @Html.Partial("_IncidentReport")
        @Html.Partial("_RecordEventModels")
        @*<div id="overlay">
                <span id="close-btn" ng-click="closeOverlay()">&#10006;</span>
                <img src="" id="LargeImageView" alt="Image">
            </div>*@
        <div id="overlay">
            <div id="zoomContainer">
                <img id="zoomImg" src="" alt="Zoomable" />
                <span id="close-btn" ng-click="closeOverlay()">&#10006;</span>
                <div class="zoom-controls">
                    <button id="zoomIn">+</button>
                    <button id="zoomOut">−</button>
                    <button id="zoomReset">Reset</button>
                </div>
            </div>
        </div>




    </div>

    <!--Camera-->


</div>

<script src="@Url.Content("~/Scripts/crypto-js.min.js")"></script>
<script src="~/Content/popup/jquery-confirm.min.js"></script>
@*<script src="~/Scripts/jquery.min.js"></script>*@
<script src="~/Scripts/webcam.min.js"></script>
<script src="~/Scripts/recordevent_datetimescript.js"></script>
<script src="~/Scripts/IncidentReportPhotosJS.js"></script>
<script>

    function allowNumbersAndComma(e) {
        let char = String.fromCharCode(e.which || e.keyCode);

        // Allow: digits (0-9) and comma
        if (/^[0-9,]$/.test(char)) {
            return true;
        }

        // Allow control keys (Backspace, Delete, Arrow keys, Tab, Enter)
        if (e.keyCode === 8 || e.keyCode === 46 || e.keyCode === 37 || e.keyCode === 39 || e.keyCode === 9 || e.keyCode === 13) {
            return true;
        }

        return false;
    }
    window.onload = function () {
        document.getElementById('minisidebar').className = 'sidebar-xs';
    };

    // #region Blur background on modal opening and closing

    $(document).ready(function () {

        $(".modal").on("shown.bs.modal", function () {
            $(".Custom-Card").addClass("blurcontent");
            $("#Block").addClass("blurcontent");
        });

        $(".modal").on("hidden.bs.modal", function () {
            $(".Custom-Card").removeClass("blurcontent");
            $("#Block").removeClass("blurcontent");
        });
    })


    // #endregion

    $(document).ready(function () {
        var o = new SlimSelect({
            select: '#Occ',
            placeholder: 'Select Occures',
            showSearch: true,
            allowDeselect: true,
        });
        var ContractorDD = new SlimSelect({
            select: '#ContractorDD',
            placeholder: 'Select Contractor',
            showSearch: true,
            allowDeselect: true,
        });
    });
    window.addEventListener('click', function (e) {
        var Target = $(e.target).hasClass('optionIcon');
        var Targetparent = $(e.target).parent().hasClass('optionIcon');
        if (!Targetparent && !Target) {
            $('.DropOptionParent').css('display', 'none');
        }
    });


</script>