@model ExamPortal.Web.Models.ChangePasswordViewModel
@using ExamPortal.Model.Resources
@{
    ViewBag.Title = "Change Password";
}

@using Microsoft.AspNet.Identity

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">@Content.ChangePassword</h3>
        <ol class="breadcrumb">
            <!--TODO will address the bread crumb properly-->
            <li class="breadcrumb-item"><a href="/">@Content.Home</a></li>
            <li class="breadcrumb-item active">@Content.ChangePassword</li>
        </ol>
    </div>
</div>
<div ng-controller="AccountCtr" class="col-lg-12">
    <div class="card">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="">@Content.OldPassword</label>
                    <input type="password" class="form-control" id="Old_Password" placeholder="" ng-model="ChangeP.OldPassword" autofocus name="OldPassword" required>
                </div>

                <div class="form-group">
                    <label>@Content.newPassword</label>
                    <input type="password" class="form-control" id="Password" placeholder="" ng-model="ChangeP.NewPassword" autofocus name="Password" required>
                    <small>Mininum 6 Characters Password Is Required</small>
                </div>
                <div class="form-group">
                    <label>@Content.ConfirmPassword</label>
                    <input type="password" class="form-control" id="Confirm_Password" placeholder="" ng-model="ChangeP.ConfirmPassword" name="ConfirmPassword" required>
                </div>
                <button type="button" class="btn btn-primary btn-flat" ng-click="ChangePassword(ChangeP)" style="display:block; margin:0 auto">@Content.ChangePassword</button>
            </div>
        </div>
    </div>
    @*<div class="col-lg-4" style="margin:0 auto">
            <div class="login-content card">
                <div class="login-form">
                    <h4></h4>
                    <form>
                        <div class="form-group">
                            <label>Old Password*</label>
                            <input type="password" class="form-control" id="Old_Password" placeholder="" ng-model="Change.OldPassword" autofocus name="OldPassword">
                        </div>
                        <div class="form-group">
                            <label>Password*</label>
                            <input type="password" class="form-control" id="Password" placeholder="" ng-model="Change.NewPassword" autofocus name="Password">
                            <small>Mininum 6 Characters Password Is Required</small>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password*</label>
                            <input type="password" class="form-control" id="Confirm_Password" placeholder="" ng-model="Change.ConfirmPassword" name="ConfirmPassword">
                        </div>
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Change Password</button>
                    </form>
                </div>
            </div>
        </div>*@


</div>

